body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background: #494947;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
#menu {
    background-color: #DA7635;
    border-color: #DA5B3E;
}

#menu a {
    color: #fff;
}

#menu a:active {
    background-color: #DA5B3E ;
}

#menu a:hover {
    background-color: #DA5B3E ;
}

#menu .active > a {
    background-color: #DA5B3E;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    width: 500px;
    padding: 5px;
    font-size: 16px;
    color: black;
}

button {
    font-size: 16px;
    padding: 5px;
}

h1, h2 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    font-weight: normal;
    color: #AAA;
    font-size: 24px;
}

.black {
    color: black;
    font-size: 14px;
}

#balance {
    color: black;
}

.hint {
    color: #666;
}

.wrapper {
    margin: 0 auto;
    width: 75%;
    padding-top: 5%;
    text-align: center;
}

#admission {
    display: none;
}

#admission h1 {
    margin-bottom: 0px;
}

#pendingList {
    display: none;
}

#services {
    display: none;
}

#error {
    display: none;
}

#error-userList {
    display: none;
}

#error-login {
    display: none;
}

#login {
    display: none;
}

#internal-login h1 {
    margin-bottom: 20px;
}

#logout {
    display: none;
}

/* Table style */
#userList-div {
    margin: 0 auto;
    padding: 40px;
    padding-top: 0px;
    max-width: 800px;
}

#userList {
    width: 100%;
    color: #3b3b3b;
}

#userList tr {
    background: #e9e9e9;
}

#userList tr:nth-child(even){
    background-color: #fff;
}

#userList .header {
    background: #DA7635;
    color: #fff;
    font-weight: 900;
}

#userList td, #userList th {
    padding: 6px 20px;
}

#userList .stat {
    padding-left: 23px;
}

.form {
    width: 500px;
    padding: 40px;
    padding-bottom: 20px;
    background: #FFFFFF;
    margin: 0px;
}

.form label {
    color: #494947;
    font-weight: 500;
}

.form input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #494947;
}

.form #psw {
    margin-top: 35px;
    margin-bottom: 55px;
}

.form button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #DA7635;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #DA5B3E;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.form button:hover {
    background-color: #DA3E20;
    transition: background-color 0.3s;
}

.form #status {
    color: #494947;
}

.form #create {
    margin-top: 20px;
}

.logout button{
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #DA7635;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border: 1px solid #DA5B3E;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

#error-userList {
    background-color: #DA7635;
    color: #fff;
    border-color: #DA5B3E;
}

#userList-div h1 {
    margin-bottom: 20px;
}

#userList button     {
    background:none!important;
    border:none;
    padding:0!important;

    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    color: #A24936;
    cursor:pointer;
}
